menu "Board Selection"

choice BOARD_SELECTION
    prompt "Target Board"
    default BOARD_M5CORES3
    help
        Select the target board for the Pulsemote-M5 build.

    config BOARD_M5TAB5
        bool "M5Stack Tab5 (ESP32-P4)"
        help
            Select this for the M5Stack Tab5 board.

    config BOARD_M5CORES3
        bool "M5Stack CoreS3 (ESP32-S3)"
        help
            Select this for the M5Stack CoreS3 board.

endchoice

endmenu
