menu "Pulsemote Board selection"

choice BOARD
    prompt "Target board"
    default BOARD_M5TAB5
help
    Select the board this firmware is built for.

config BOARD_M5TAB5
    bool "M5TAB5"

config BOARD_M5CORES3
    bool "M5CoreS3"

endchoice

config PULSEMOTE_PCB
    bool "PulseMote PCB variant"
    default y if BOARD_M5CORES3
    help
        If you have the Pulsemote-M5 PCB attached

endmenu

